body{
    background-color: #00ff00;
}

.box {
    background-color: yellow;
    height: 650px;
    width: 700px;
    margin-top: 75px;
    margin-left: 500px;
}

.box img {
    width: 100%;
}